.photo-album-links {

    @include no-bullets;

    li {
        width: 100%;
        min-height: 200px;
        margin-bottom: 2em;
        text-align: center;

        a {
            min-height: 200px;
        }

        .entry-image {
            height: 200px;
            background-position: center top;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .entry-title {
            margin: 0;
            color: $color__foreground;
        }
    }

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        li {
            width: 50%;
            flex-grow: 1;
            margin-bottom: 3em;

            .entry-image {
                height: 300px;
            }

        }

    }

}

