.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	text-align: left;
	line-height: 1.75;
	font-family: $font__bohemian;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: $color__background;

		&> li {
			padding-top: .5em;
		}

		ul {
			z-index: 99999;
			margin-left: 1em;
			font-family: $font__mono;

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		float: none;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	
	a {
		display: block;
		text-decoration: none;
		color: $color__foreground;
		text-transform: uppercase;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	background-size: cover;
	background-image: url('dist/images/nav/bios.png');
	background-color: transparent;
	border: none;
	font-family: $font__bohemian;
}

@include breakpoint(md) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {

		a {
			color: $color__background;
		}

		.current-menu-item a {
			color: $color__accent;
		}
		
		ul {
			display: table;
			margin: 0 auto;

			ul {
				float: left;
				position: absolute;
				top: 2.5em;
				left: -999em;
				padding: 0;
				width: 60px;
				margin-left: -1em;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				text-align: left;
				background-color: $color__foreground;
				color: $color__background;

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
					width: 100%;
				}

				a {
					display: block;
					width: 100%;
				}
			}

			&> li {
				background-size: cover;
				background-image: url('dist/images/nav/about.png');
				padding: .5em 1em;

				&.about {
					background-image: url('dist/images/nav/about.png');
				}
				&.music {
					background-image: url('dist/images/nav/music.png');
				}
				&.media {
					background-image: url('dist/images/nav/media.png');
				}
				&.blog {
					background-image: url('dist/images/nav/blog.png');
				}
				&.bios {
					background-image: url('dist/images/nav/bios.png');
				}
				&.merch {
					background-image: url('dist/images/nav/merch.png');
				}
				&.contact {
					background-image: url('dist/images/nav/contact.png');
				}
				&.donate {
					background-image: url('dist/images/nav/donate.png');
				}
				&.events {
					background-image: url('dist/images/nav/events.png');
				}
				
				// Responsive menu spacing
				@include breakpoint(md) {
					&:not(:last-child) {
						margin-right: 1em;
					}
				}

				// Responsive menu spacing
				@include breakpoint(lg) {
					&:not(:last-child) {
						margin-right: 2em;
					}
				}
			}
		}

		li {
			float: left;
			position: relative;
			padding: .25em .5em;

			a {
				display: inline-block;
			}

			&:hover > a,
			&.focus > a {
			}
		}

	}
	
}

/* Social Nav */
.social-nav {
	ul {
		@include inline-list;
		text-align: right;

		li {
			a {
				color: $color__foreground;
			}

			&:not(:last-child) {
				margin-right: .5em;
			}
		}

	}
	.facebook .icon {
		@extend .fa-facebook;
	}
	.twitter .icon {
		@extend .fa-twitter;
	}
	.instagram .icon {
		@extend .fa-instagram;
	}
	.youtube .icon {
		@extend .fa-youtube;
	}
	.icon {
		@extend .fa;
		@include font-size($h5);
	}
}

@include breakpoint(md) {}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 2em 0 1.5em;
		overflow: hidden;
	}

	.nav-previous,
	.nav-next {
		width: 50%;

		a {
			@extend %btn-inverted;
			display: inline-block;
		}
	}

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
		text-align: right;
	}
}

a.back-button,
.tribe-events-back a {
	@extend %btn-inverted;
	color: $color__white;
	display: inline-block;
}

