.category-news {}

.blog,
.date {
    .site-main {
        .entry {
            .entry-image,
            .jetpack-video-wrapper {
                margin-left: 0;
                margin-right: 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@include breakpoint(md) {
    .blog,
    .date {
        .site-main {
            .entry {
                .entry-image,
                .jetpack-video-wrapper {
                    margin-right: .5em;
                    width: 25%;
                    float: left;
                }
                .entry-content {}
            }
        }
    }
}

.blog,
.date {
    .site-main {
        .post-number-0,
        .post-number-1 {
            .entry-image,
            .jetpack-video-wrapper {
                margin: 0;
                width: 100%;
                float: none;
            }
        }
    }
}

