.home {

    .site-main {

        @include breakpoint(md) {

            display: flex;

            .featured-post {
                width: 75%;
                padding-right: 1em;
            }

            .recent-posts {
                width: 25%;
                padding-left: 1em;
            }

        }
    }

}
