.home {

    .site-main {
        .entry-title {
            display: block;
            @include font-size($h2);
        }
    }

    .recent-posts {
        li:not(:last-child) {
            margin-bottom: 1.5em;
        }

        .entry-title {
            @include font-size($h5);
        }

        .wp-post-image {
            width: 100%;
            height: auto;
        }
    }

}
