.home:not(.blog) {

    .site-main {
        .entry-title {
            display: block;
            padding: .25em;
            background-image: url('dist/images/headings/formerly-incarcerated.png');
            background-size: cover;
            color: $color__background;
            text-align: center;
            @include font-size($h2);
            a {
                color: $color__background;
            }
        }
    }

    .recent-posts {
        li:not(:last-child) {
            margin-bottom: 1.5em;
        }

        .entry-title {
            @include font-size($h5);
            a {
                color: $color__accent;
            }
        }

        .wp-post-image {
            width: 100%;
            height: auto;
        }
    }

}
