html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	font-size: $font__size-default;
}

@import "lists";
@import "tables";
@import "media";
@import "blocks";

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin: 2.5em auto;
}

@include breakpoint(sm) {
	hr {
		width: 25%;
		margin-top: .5em;
		margin-bottom: .5em;
	}
}


img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

.wp-post-image {
	@extend %paper;
}

.center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.edit-link {
	display: block;
}

.entry-meta {
	margin-bottom: .5em;
}
