.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.widget {
    ul {
        @include no-bullets;
    }
}

.widget-title {
    
    padding: .5em 0;
    text-align: left;
}