.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.widget {
    ul {
        @include no-bullets;
    }
}

.widget-title {
    @include font-size($h4);
    padding: .5em;
    color: $color__accent;
}