.post-type-archive-team-member {

    .content-area {
        text-align: center;
    }

    h2.entry-title {

        display: inline-block;
        padding: .25em;
        margin: 1em auto;
        line-height:2;
        background-size: cover;
        background-image: url('dist/images/headings/contributing-musicians.png');
        color: $color__background;
        font-family: $font__bohemian;

        @extend %clearfix;

        &.role-production {
            background-image: url('dist/images/headings/production.png');
        }
        &.role-artists-in-prison {
            background-image: url('dist/images/headings/currently-incarcerated.png');
        }
        &.role-artists-formerly-incarcerated {
            background-image: url('dist/images/headings/formerly-incarcerated.png');
        }
        &.role-contributing-musicians {
            background-image: url('dist/images/headings/contributing-musicians.png');
        }

        &.role-production {
            margin-top: 0;
        }
    }

    h3.entry-title {
        margin: 0;
    }

    .role {
        margin-bottom: 1em;
    }

    .bio-list {

        text-align: center;

        &.section-production {}
        &.section-artists-in-prison {}
        &.section-artists-formerly-incarcerated {}
        &.section-contributing-musicians {}

        &.section-production {
            display: block;
            
            .entry-image {

            }
            img {
                display: block;
                margin-right: auto;
                margin-left: auto;
            }
        }

        figure {
            margin: 0;
        }

        figcaption {
            text-transform: uppercase;
        }

        article {
            margin-bottom: 0;
        }

    }

    article {
        padding: .25em .5em;
        flex: 0 0 25%;
    }

    img {}

    img.featherlight-image {}

    .team-member {
        display: inline-block;
    }

    #primary article:not(:last-child) {
        margin-bottom: 0;
    }

}

@include breakpoint(sm) {
    .post-type-archive-team-member {
        .bio-list {
            display: flex;
            justify-content: center;
            flex-flow: row; 
            flex-wrap: wrap;

            &.section-production {}
            &.section-artists-in-prison {}
            &.section-artists-formerly-incarcerated {}
            &.section-contributing-musicians {}

            &.section-production {

                article {
                    display: flex;
                    justify-content: flex-start;
                    flex-flow: row; 
                    text-align: left;

                    &:first-child {
                        margin-bottom: 1.5em;
                    }

                    .entry-image {
                        flex: 0 0 25%;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .entry-centent {
                        flex: 0 0 75%;
                    }

                }

                .entry-content {
                    margin: 0;
                    padding-left: 2em;
                }
            }
        }
        article {
            align-self: flex-start;
            flex: 0 0 33%;
        }
    }

}

@include breakpoint(md) {
    .post-type-archive-team-member {
        article {
            flex: 0 0 25%;
        }
    }

}

@include breakpoint(lg) {
    .post-type-archive-team-member {
        article {
            flex: 0 0 20%;
        }
    }
}

.single-team-member {
    .entry-title {
        text-transform: none;
        margin-bottom: 0;
    }
    .content-area .entry-title {
        margin-top: .25em;
    }
    .entry-meta {
        color: $color__accent;
    }
    .gallery-caption {
        @extend %screen-reader-text;
    }
}