.post-type-archive-team-member {

    .content-area {
        text-align: center;
    }

    h2.entry-title {

        display: inline-block;
        padding: .25em;
        margin: 1em auto;
        line-height:2;
        background-size: cover;
        background-image: url('#{$assets__path}headings/contributing-musicians.png');
        color: $color__background;
        font-family: $font__bohemian;

        @extend %clearfix;

        &.role-production {
            background-image: url('#{$assets__path}headings/production.png');
        }
        &.role-artists-in-prison {
            background-image: url('#{$assets__path}headings/currently-incarcerated.png');
        }
        &.role-artists-formerly-incarcerated {
            background-image: url('#{$assets__path}headings/formerly-incarcerated.png');
        }
        &.role-contributing-musicians {
            background-image: url('#{$assets__path}headings/contributing-musicians.png');
        }

        &.role-production {
            margin-top: 0;
        }
    }

    h3.entry-title {
        margin: 0;
        font-size: 1rem;
    }

    .role {
        margin-bottom: 1em;
    }

    .bio-list {

        text-align: center;

        &.section-production {}
        &.section-artists-in-prison {}
        &.section-artists-formerly-incarcerated {}
        &.section-contributing-musicians {}

        &.section-production {}

        figure {
            margin: 0;
        }

        figcaption {
            text-transform: uppercase;
        }

        article {
            margin-bottom: 0;
        }

    }

    article {
        padding: .25em .5em;
        flex: 0 0 25%;
    }

    img {}

    img.featherlight-image {}

    .team-member {
        display: inline-block;
    }

    #primary article:not(:last-child) {
        margin-bottom: 0;
    }

}

.post-type-archive-team-member,
.tax-team-member-category {
    .bio-list {
      display: flex;

        &.section-production {}
        &.section-artists-in-prison {}
        &.section-artists-formerly-incarcerated {}
        &.section-contributing-musicians {}

        @include breakpoint(sm) {

          display: flex;
          justify-content: center;
          flex-flow: row;
          flex-wrap: wrap;

          .entry {
              align-self: flex-start;
              flex: 0 0 33%;
          }

        }

        @include breakpoint(md) {
          .entry {
              flex: 0 0 25%;
          }

          &.section-production {
            justify-content: space-between;

            .entry {
              flex-basis: 50%;
            }
          }
        }

        @include breakpoint(lg) {
          .entry {
              flex: 0 0 20%;
          }
        }

    }

}

.tax-team-member-category {
    .page-title {

        display: inline-block;
        padding: .25em;
        margin: 1em auto;
        line-height:2;
        background-size: cover;
        background-image: url('#{$assets__path}headings/contributing-musicians.png');
        color: $color__background;
        font-family: $font__bohemian;
    
        @extend %clearfix;
    
        &.role-production,
        &.role-staff {
            background-image: url('#{$assets__path}headings/production.png');
        }
        &.role-artists-in-prison {
            background-image: url('#{$assets__path}headings/currently-incarcerated.png');
        }
        &.role-artists-formerly-incarcerated {
            background-image: url('#{$assets__path}headings/formerly-incarcerated.png');
        }
        &.role-contributing-musicians {
            background-image: url('#{$assets__path}headings/contributing-musicians.png');
        }
    
        &.role-production {
            margin-top: 0;
        }
    }
}

@include breakpoint(md) {
    .post-type-archive-team-member {
        .entry {
            flex: 0 0 25%;
        }
    }

}

@include breakpoint(lg) {
    .post-type-archive-team-member {
        .entry {
            flex: 0 0 20%;
        }
    }
}

.single-team-member {
  .entry-header {
    text-align: center;
  }
  .entry-title {
      text-transform: none;
      margin-bottom: 0;
  }
  .content-area .entry-title {
      margin-top: .25em;
  }
  .entry-meta {
      color: $color__accent;
  }
  .gallery-caption {
      @extend %screen-reader-text;
  }
}
