.sticky {
	display: block;
}

.category .hentry {
	margin: 0 0 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba($color__foreground,.1);
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.content-area {
    margin-top: 1.5em;
}

@include breakpoint(lg) {
    .page-content,
    .entry-content,
    .entry-summary {
        padding: 0;
    }
}

.page-header,
.page:not(.home) .entry-header {
    @extend %screen-reader-text;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#primary {
    article:not(:last-child) {
        margin-bottom: 3em;
    }
}

.page-press {
    .entry-content {
        a {
            text-transform: uppercase;
            color: $color__accent;
        }
    }
}

.page-donate {
    .entry-content {
        text-align: center;
    }
}

.page-about {
    .entry-content {
        em {
            color: $color__accent;
        }
    }
}