.sticky {
	display: block;
}

.category .hentry {
	margin: 0 0 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba($color__foreground,.1);
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.site-content {

}

@include breakpoint(lg) {
    .page-content,
    .entry-content,
    .entry-summary {
        padding: 0;
    }
}

.page-header,
.page:not(.home) .entry-header {
    @extend %screen-reader-text;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#primary {
    article:not(:last-child) {
        margin-bottom: 3em;
    }
}

.page-press {
    .entry-content {
        a {
            text-transform: uppercase;
            color: $color__accent;
        }
    }
}

.page-donate {
    .entry-content {
        text-align: center;
    }
}

.page-about {
    .entry-content {
        p:first-child {
            margin-top: 0;
            padding-top: 0;
        }
        em {
            color: $color__accent;
            font-style: normal;
        }
    }
}

.page {
    .entry-content {
        h2:first-child {
            margin-top: 0;
            padding-top: 0;
        }
    }
}

.post-number-0,
.post-number-1 {
    .entry-title {
        margin-top: 0;
        padding-top: 0;
    }
}

.single {
    .content-area {
        .entry-title {
            margin-top: 0;
            padding-top: 0;
        }
    }
}

.widget-area {
    aside:first-child {
        .widget-title {
            margin-top: 0;
            padding-top: 0;
        }
    }
}