.page-ep,
.page-download {
    .site-content {
        background-image: url('assets/images/backgrounds/bkgd-ep.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 40%;
        background-size: 100%;
        background-position: top center;
        margin: 0 auto;
        width: 100%;
        
        .content-area {
            text-align: center;
        }

        .wpcf7-form {
            margin-top: 50px;
            input[type="text"],
            input[type="email"] {
                max-width: 250px;
                border: 1px solid $color__background;
                border-radius: 0;
            }

        }

        .wpcf7-quiz-label,
        .label-email {
            color: $color__background;
            font-weight: bold;
            @include visuallyhidden;
        }

        h3 {
            color: $color__background;
        }

    }
}

@include breakpoint(md) {
    .page-ep,
    .page-download {
        .site-content {
            .content-area {}
            .entry-content {
                margin-top: 5em;
            } 

            .wpcf7-quiz-label,
            .label-email {
                margin: 0;
                height: auto;
                width: auto;
                position: inherit;

            }
        }
    }
}

@include breakpoint(lg) {
    .page-ep,
    .page-download {
        .site-content {

            .content-area {
                text-align: left;
            }

            .entry-content {
                margin-top: 250px;
                margin-left: 510px; 
            }   
        }
    }
}